In [139]:
import pandas as pd

In [140]:
df=pd.read_csv('starbucksla.csv')

In [141]:
df

,ID,Name,Ownership Type,Phone Number,Address,Zip,Coordinates,City,State
0,10036,"11th & Grand, Los Angeles",Company Owned,2137491751,"1111 South Grand Avenue, 900152176 Los Angele...",900152176,"34.041593,-118.262377",Los Angeles,California
1,17033,"12th & Hill, Los Angeles(AT&T Bldg)",Company Owned,213-749-0487,"1149 S. Hill Street, 900152212 Los Angeles Co...",900152212,"34.03948,-118.261337",Los Angeles,California
2,11138,1875 Century Park E.,Company Owned,(310) 553-8226,"1875 Century Park East, 900672501 Los Angeles...",900672501,"34.061043,-118.414938",Los Angeles,California
3,11947,1999 Ave. of the Stars,Company Owned,(310) 557-0785,"1999 Avenue of the Stars, 900676022 Los Angel...",900676022,"34.058748,-118.416168",Los Angeles,California
4,11946,2049 Century Park E.,Company Owned,(310) 286-3023,"2049 Century Park East, 900673101 Los Angeles...",900673101,"34.0593,-118.412792",Los Angeles,California
...,...,...,...,...,...,...,...,...,...
214,7232,"Wilshire & Detroit, Los Angeles",Company Owned,(323) 939-2071,"5353 Wilshire Blvd., 900364284 Los Angeles Co...",900364284,"34.062443,-118.345269",Los Angeles,California
215,8668,Wilshire & Highland,Company Owned,(323) 936-2989,"5020 Wilshire Blvd., 900364315 Los Angeles Co...",900364315,"34.061907,-118.33892",Los Angeles,California
216,91227,"Wilshire & Normandie, Los Angeles",Company Owned,(213) 382-3351,"3450 Wilshire Blvd., 90010 Los Angeles County...",90010,"34.061450958252,-118.299522399902",Los Angeles,California
217,15618,"Wilshire & Serrano, Los Angeles",Company Owned,213-383-5370,"3680 Wilshire Blvd., 900102707 Los Angeles Co...",900102707,"34.06073,-118.306143",Los Angeles,California
218,11305,"Wilshire & Union, Los Angeles",Company Owned,213-484-0958,"1601 Wilshire Blvd, 900171610 Los Angeles Cou...",900171610,"34.055928,-118.270336",Los Angeles,California

In [142]:
df.drop('Ownership Type',axis=1,inplace=True)

In [143]:
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,"11th & Grand, Los Angeles",2137491751,"1111 South Grand Avenue, 900152176 Los Angele...",900152176,"34.041593,-118.262377",Los Angeles,California
1,17033,"12th & Hill, Los Angeles(AT&T Bldg)",213-749-0487,"1149 S. Hill Street, 900152212 Los Angeles Co...",900152212,"34.03948,-118.261337",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,"1875 Century Park East, 900672501 Los Angeles...",900672501,"34.061043,-118.414938",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,"1999 Avenue of the Stars, 900676022 Los Angel...",900676022,"34.058748,-118.416168",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,"2049 Century Park East, 900673101 Los Angeles...",900673101,"34.0593,-118.412792",Los Angeles,California
...,...,...,...,...,...,...,...,...
214,7232,"Wilshire & Detroit, Los Angeles",(323) 939-2071,"5353 Wilshire Blvd., 900364284 Los Angeles Co...",900364284,"34.062443,-118.345269",Los Angeles,California
215,8668,Wilshire & Highland,(323) 936-2989,"5020 Wilshire Blvd., 900364315 Los Angeles Co...",900364315,"34.061907,-118.33892",Los Angeles,California
216,91227,"Wilshire & Normandie, Los Angeles",(213) 382-3351,"3450 Wilshire Blvd., 90010 Los Angeles County...",90010,"34.061450958252,-118.299522399902",Los Angeles,California
217,15618,"Wilshire & Serrano, Los Angeles",213-383-5370,"3680 Wilshire Blvd., 900102707 Los Angeles Co...",900102707,"34.06073,-118.306143",Los Angeles,California
218,11305,"Wilshire & Union, Los Angeles",213-484-0958,"1601 Wilshire Blvd, 900171610 Los Angeles Cou...",900171610,"34.055928,-118.270336",Los Angeles,California

In [144]:
df['Name']

0                11th & Grand, Los Angeles
1      12th & Hill, Los Angeles(AT&T Bldg)
2                     1875 Century Park E.
3                   1999 Ave. of the Stars
4                     2049 Century Park E.
                      ...
214        Wilshire & Detroit, Los Angeles
215                    Wilshire & Highland
216      Wilshire & Normandie, Los Angeles
217        Wilshire & Serrano, Los Angeles
218          Wilshire & Union, Los Angeles
Name: Name, Length: 219, dtype: object

In [145]:
df['Name'] = df['Name'].str.replace(',', '')

In [146]:
df['Name']

0                11th & Grand Los Angeles
1      12th & Hill Los Angeles(AT&T Bldg)
2                    1875 Century Park E.
3                  1999 Ave. of the Stars
4                    2049 Century Park E.
                      ...
214        Wilshire & Detroit Los Angeles
215                   Wilshire & Highland
216      Wilshire & Normandie Los Angeles
217        Wilshire & Serrano Los Angeles
218          Wilshire & Union Los Angeles
Name: Name, Length: 219, dtype: object

In [147]:
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,11th & Grand Los Angeles,2137491751,"1111 South Grand Avenue, 900152176 Los Angele...",900152176,"34.041593,-118.262377",Los Angeles,California
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,"1149 S. Hill Street, 900152212 Los Angeles Co...",900152212,"34.03948,-118.261337",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,"1875 Century Park East, 900672501 Los Angeles...",900672501,"34.061043,-118.414938",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,"1999 Avenue of the Stars, 900676022 Los Angel...",900676022,"34.058748,-118.416168",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,"2049 Century Park East, 900673101 Los Angeles...",900673101,"34.0593,-118.412792",Los Angeles,California
...,...,...,...,...,...,...,...,...
214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,"5353 Wilshire Blvd., 900364284 Los Angeles Co...",900364284,"34.062443,-118.345269",Los Angeles,California
215,8668,Wilshire & Highland,(323) 936-2989,"5020 Wilshire Blvd., 900364315 Los Angeles Co...",900364315,"34.061907,-118.33892",Los Angeles,California
216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,"3450 Wilshire Blvd., 90010 Los Angeles County...",90010,"34.061450958252,-118.299522399902",Los Angeles,California
217,15618,Wilshire & Serrano Los Angeles,213-383-5370,"3680 Wilshire Blvd., 900102707 Los Angeles Co...",900102707,"34.06073,-118.306143",Los Angeles,California
218,11305,Wilshire & Union Los Angeles,213-484-0958,"1601 Wilshire Blvd, 900171610 Los Angeles Cou...",900171610,"34.055928,-118.270336",Los Angeles,California

In [148]:
df['Address'] = df['Address'].str.replace(',', ' -')

In [149]:
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176 Los Angel...,900152176,"34.041593,-118.262377",Los Angeles,California
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212 Los Angeles C...,900152212,"34.03948,-118.261337",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501 Los Angele...,900672501,"34.061043,-118.414938",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022 Los Ange...,900676022,"34.058748,-118.416168",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101 Los Angele...,900673101,"34.0593,-118.412792",Los Angeles,California
...,...,...,...,...,...,...,...,...
214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,5353 Wilshire Blvd. - 900364284 Los Angeles C...,900364284,"34.062443,-118.345269",Los Angeles,California
215,8668,Wilshire & Highland,(323) 936-2989,5020 Wilshire Blvd. - 900364315 Los Angeles C...,900364315,"34.061907,-118.33892",Los Angeles,California
216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,3450 Wilshire Blvd. - 90010 Los Angeles Count...,90010,"34.061450958252,-118.299522399902",Los Angeles,California
217,15618,Wilshire & Serrano Los Angeles,213-383-5370,3680 Wilshire Blvd. - 900102707 Los Angeles C...,900102707,"34.06073,-118.306143",Los Angeles,California
218,11305,Wilshire & Union Los Angeles,213-484-0958,1601 Wilshire Blvd - 900171610 Los Angeles Co...,900171610,"34.055928,-118.270336",Los Angeles,California

In [150]:
df['Address'][0]

'1111 South Grand Avenue - 900152176  Los Angeles County - California'

In [151]:
df['Address'] = df['Address'].str.replace('  Los Angeles County - California', '')

In [152]:
df['Address'][0]

'1111 South Grand Avenue - 900152176'

In [153]:
df['Address']

0       1111 South Grand Avenue - 900152176
1           1149 S. Hill Street - 900152212
2        1875 Century Park East - 900672501
3      1999 Avenue of the Stars - 900676022
4        2049 Century Park East - 900673101
                       ...
214         5353 Wilshire Blvd. - 900364284
215         5020 Wilshire Blvd. - 900364315
216             3450 Wilshire Blvd. - 90010
217         3680 Wilshire Blvd. - 900102707
218          1601 Wilshire Blvd - 900171610
Name: Address, Length: 219, dtype: object

In [154]:
df['Coordinates']

0                  34.041593,-118.262377
1                   34.03948,-118.261337
2                  34.061043,-118.414938
3                  34.058748,-118.416168
4                    34.0593,-118.412792
                     ...
214                34.062443,-118.345269
215                 34.061907,-118.33892
216    34.061450958252,-118.299522399902
217                 34.06073,-118.306143
218                34.055928,-118.270336
Name: Coordinates, Length: 219, dtype: object

In [155]:
df['Coordinates'][0]

'34.041593,-118.262377'

In [156]:
df.to_csv('data3.csv')

In [137]:
def string_to_list(coordinates_str):
    coordinates_list = coordinates_str.split(',')
    return [float(coord) for coord in coordinates_list]

# Apply the function to each element in the 'Coordinates' column
df['Coordinates'] = df['Coordinates'].apply(string_to_list)

In [138]:
df['Coordinates'][0]

[34.041593, -118.262377]

In [94]:
def string_to_list(coordinates_str):
    coordinates_list = coordinates_str.split(',')
    return [float(coord) for coord in coordinates_list]

# Apply the function to each element in the 'Coordinates' column
df['Coordinates'] = df['Coordinates'].apply(string_to_list)

# Now, 'Coordinates' column contains lists of floats
print(df['Coordinates'])

0                  [34.041593, -118.262377]
1                   [34.03948, -118.261337]
2                  [34.061043, -118.414938]
3                  [34.058748, -118.416168]
4                    [34.0593, -118.412792]
                       ...
214                [34.062443, -118.345269]
215                 [34.061907, -118.33892]
216    [34.061450958252, -118.299522399902]
217                 [34.06073, -118.306143]
218                [34.055928, -118.270336]
Name: Coordinates, Length: 219, dtype: object

In [95]:
df['Coordinates'] = df['Coordinates'].apply(lambda x: [x[1], x[0]])

# Now, 'Coordinates' column contains lists with switched values
print(df['Coordinates'])

0                  [-118.262377, 34.041593]
1                   [-118.261337, 34.03948]
2                  [-118.414938, 34.061043]
3                  [-118.416168, 34.058748]
4                    [-118.412792, 34.0593]
                       ...
214                [-118.345269, 34.062443]
215                 [-118.33892, 34.061907]
216    [-118.299522399902, 34.061450958252]
217                 [-118.306143, 34.06073]
218                [-118.270336, 34.055928]
Name: Coordinates, Length: 219, dtype: object

In [97]:
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176,900152176,"[-118.262377, 34.041593]",Los Angeles,California
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212,900152212,"[-118.261337, 34.03948]",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501,900672501,"[-118.414938, 34.061043]",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022,900676022,"[-118.416168, 34.058748]",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101,900673101,"[-118.412792, 34.0593]",Los Angeles,California
...,...,...,...,...,...,...,...,...
214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,5353 Wilshire Blvd. - 900364284,900364284,"[-118.345269, 34.062443]",Los Angeles,California
215,8668,Wilshire & Highland,(323) 936-2989,5020 Wilshire Blvd. - 900364315,900364315,"[-118.33892, 34.061907]",Los Angeles,California
216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,3450 Wilshire Blvd. - 90010,90010,"[-118.299522399902, 34.061450958252]",Los Angeles,California
217,15618,Wilshire & Serrano Los Angeles,213-383-5370,3680 Wilshire Blvd. - 900102707,900102707,"[-118.306143, 34.06073]",Los Angeles,California
218,11305,Wilshire & Union Los Angeles,213-484-0958,1601 Wilshire Blvd - 900171610,900171610,"[-118.270336, 34.055928]",Los Angeles,California

In [105]:
df['Coordinates'].describe()

count                                       219
unique                                      218
top       [-118.399490356445, 33.9453086853027]
freq                                          2
Name: Coordinates, dtype: object

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            219 non-null    int64
 1   Name          219 non-null    object
 2   Phone Number  219 non-null    object
 3   Address       219 non-null    object
 4   Zip           219 non-null    int64
 5   Coordinates   219 non-null    object
 6   City          219 non-null    object
 7   State         219 non-null    object
dtypes: int64(2), object(6)
memory usage: 13.8+ KB

In [111]:
# df['Coordinates'] = df['Coordinates'].apply(ast.literal_eval)

In [112]:
# import ast
# df['Coordinates'] = df['Coordinates'].apply(ast.literal_eval)

# # Now, 'Coordinates' column has data type 'list'
# print(df['Coordinates'])

In [113]:
import json
df['Coordinates'] = df['Coordinates'].apply(json.loads)

# Now, 'Coordinates' column has data type 'list'
print(df['Coordinates'])

TypeError: the JSON object must be str, bytes or bytearray, not list

In [114]:
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176,900152176,"[-118.262377, 34.041593]",Los Angeles,California
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212,900152212,"[-118.261337, 34.03948]",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501,900672501,"[-118.414938, 34.061043]",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022,900676022,"[-118.416168, 34.058748]",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101,900673101,"[-118.412792, 34.0593]",Los Angeles,California
...,...,...,...,...,...,...,...,...
214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,5353 Wilshire Blvd. - 900364284,900364284,"[-118.345269, 34.062443]",Los Angeles,California
215,8668,Wilshire & Highland,(323) 936-2989,5020 Wilshire Blvd. - 900364315,900364315,"[-118.33892, 34.061907]",Los Angeles,California
216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,3450 Wilshire Blvd. - 90010,90010,"[-118.299522399902, 34.061450958252]",Los Angeles,California
217,15618,Wilshire & Serrano Los Angeles,213-383-5370,3680 Wilshire Blvd. - 900102707,900102707,"[-118.306143, 34.06073]",Los Angeles,California
218,11305,Wilshire & Union Los Angeles,213-484-0958,1601 Wilshire Blvd - 900171610,900171610,"[-118.270336, 34.055928]",Los Angeles,California

In [115]:
df.to_csv('data1.csv')

In [116]:
df = pd.read_csv('data1.csv')

# Convert the 'Coordinates' column from strings to lists using ast.literal_eval
df['Coordinates'] = df['Coordinates'].apply(ast.literal_eval)

# Now, 'Coordinates' column has data type 'list'
print(df['Coordinates'])

0                  [-118.262377, 34.041593]
1                   [-118.261337, 34.03948]
2                  [-118.414938, 34.061043]
3                  [-118.416168, 34.058748]
4                    [-118.412792, 34.0593]
                       ...
214                [-118.345269, 34.062443]
215                 [-118.33892, 34.061907]
216    [-118.299522399902, 34.061450958252]
217                 [-118.306143, 34.06073]
218                [-118.270336, 34.055928]
Name: Coordinates, Length: 219, dtype: object

In [117]:
df

,Unnamed: 0,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176,900152176,"[-118.262377, 34.041593]",Los Angeles,California
1,1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212,900152212,"[-118.261337, 34.03948]",Los Angeles,California
2,2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501,900672501,"[-118.414938, 34.061043]",Los Angeles,California
3,3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022,900676022,"[-118.416168, 34.058748]",Los Angeles,California
4,4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101,900673101,"[-118.412792, 34.0593]",Los Angeles,California
...,...,...,...,...,...,...,...,...,...
214,214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,5353 Wilshire Blvd. - 900364284,900364284,"[-118.345269, 34.062443]",Los Angeles,California
215,215,8668,Wilshire & Highland,(323) 936-2989,5020 Wilshire Blvd. - 900364315,900364315,"[-118.33892, 34.061907]",Los Angeles,California
216,216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,3450 Wilshire Blvd. - 90010,90010,"[-118.299522399902, 34.061450958252]",Los Angeles,California
217,217,15618,Wilshire & Serrano Los Angeles,213-383-5370,3680 Wilshire Blvd. - 900102707,900102707,"[-118.306143, 34.06073]",Los Angeles,California
218,218,11305,Wilshire & Union Los Angeles,213-484-0958,1601 Wilshire Blvd - 900171610,900171610,"[-118.270336, 34.055928]",Los Angeles,California

In [118]:
df.to_csv('data2.csv')

In [159]:
df.head()

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State
0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176,900152176,"34.041593,-118.262377",Los Angeles,California
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212,900152212,"34.03948,-118.261337",Los Angeles,California
2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501,900672501,"34.061043,-118.414938",Los Angeles,California
3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022,900676022,"34.058748,-118.416168",Los Angeles,California
4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101,900673101,"34.0593,-118.412792",Los Angeles,California

In [161]:
df[['Latitude', 'Longitude']] = df['Coordinates'].str.split(',', expand=True)

# Convert 'Latitude' and 'Longitude' columns to float
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)

# Drop the original 'Coordinates' column if needed
# df = df.drop('Coordinates', axis=1)

# Display the resulting DataFrame
df

,ID,Name,Phone Number,Address,Zip,Coordinates,City,State,Latitude,Longitude
0,10036,11th & Grand Los Angeles,2137491751,1111 South Grand Avenue - 900152176,900152176,"34.041593,-118.262377",Los Angeles,California,34.041593,-118.262377
1,17033,12th & Hill Los Angeles(AT&T Bldg),213-749-0487,1149 S. Hill Street - 900152212,900152212,"34.03948,-118.261337",Los Angeles,California,34.039480,-118.261337
2,11138,1875 Century Park E.,(310) 553-8226,1875 Century Park East - 900672501,900672501,"34.061043,-118.414938",Los Angeles,California,34.061043,-118.414938
3,11947,1999 Ave. of the Stars,(310) 557-0785,1999 Avenue of the Stars - 900676022,900676022,"34.058748,-118.416168",Los Angeles,California,34.058748,-118.416168
4,11946,2049 Century Park E.,(310) 286-3023,2049 Century Park East - 900673101,900673101,"34.0593,-118.412792",Los Angeles,California,34.059300,-118.412792
...,...,...,...,...,...,...,...,...,...,...
214,7232,Wilshire & Detroit Los Angeles,(323) 939-2071,5353 Wilshire Blvd. - 900364284,900364284,"34.062443,-118.345269",Los Angeles,California,34.062443,-118.345269
215,8668,Wilshire & Highland,(323) 936-2989,5020 Wilshire Blvd. - 900364315,900364315,"34.061907,-118.33892",Los Angeles,California,34.061907,-118.338920
216,91227,Wilshire & Normandie Los Angeles,(213) 382-3351,3450 Wilshire Blvd. - 90010,90010,"34.061450958252,-118.299522399902",Los Angeles,California,34.061451,-118.299522
217,15618,Wilshire & Serrano Los Angeles,213-383-5370,3680 Wilshire Blvd. - 900102707,900102707,"34.06073,-118.306143",Los Angeles,California,34.060730,-118.306143
218,11305,Wilshire & Union Los Angeles,213-484-0958,1601 Wilshire Blvd - 900171610,900171610,"34.055928,-118.270336",Los Angeles,California,34.055928,-118.270336

In [163]:
df.to_csv('data_fin.csv')